<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/blog.css}" />
    <title>BlogUser</title>
</head>
<body>
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/blogUser(userName=${session.userName})}">Profile</a></li>
            <li><a th:href="@{/createBlogpost}">Create new Blogpost</a></li>
            <li><a th:href="@{/logout}">Logout</a></li>
        </ul>
    </nav>

    <h1 id="title" th:text="${blogUser.name+'s Profile Page'}"></h1>

    <table id="blogPosts">
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Date Created</th>
            <th></th>
        </tr>
        <tr th:each="post : ${posts}">
            <td th:text="${post.name}"></td>
            <td th:text="${post.category.name}"></td>
            <td th:text="${post.creationDate}"></td>
            <td><a th:href="@{/post(name=${post.blogUser.name}, id=${post.postId})}">Go to Blog Post</a></td>
        </tr>
    </table>
</body>
</html>