<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/blog.css}" />
    <title>BlogUser</title>
</head>
<body>
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/blogUser(userName=${session.userName})}" th:text="${session.userName + '´s Profile Page'}">Profile</a></li>
            <li><a th:href="@{/createBlogpost}">Create new Blogpost</a></li>
            <li><a th:href="@{/search}">Search Blogposts</a></li>
            <li><a th:href="@{/logout}">Logout</a></li>
        </ul>
    </nav>

    <h1 id="title" th:text="${blogUser.name+'s Profile Page'}"></h1>
    <p id="lastLoginDate" th:if="${blogUser.lastLogin != null}" th:text="${'Last Login was: ' + blogUser.lastLogin}"></p>

    <a id="followUser" th:if="${blogUser.name != session.userName && isFollowing==false}" th:href="@{/followUser(name=${blogUser.name})}">Follow</a>
    <a id="unfollowUser" th:if="${blogUser.name != session.userName && isFollowing==true}" th:href="@{/unfollowUser(name=${blogUser.name})}">Unfollow</a>

    <table id="blogPosts">
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Date Created</th>
            <th></th>
        </tr>
        <tr th:each="post : ${posts}">
            <td th:text="${post.name}"></td>
            <td th:text="${post.category.name}"></td>
            <td th:text="${post.creationDate}"></td>
            <td><a th:href="@{/post(id=${post.postId})}">Go to Blog Post</a></td>
        </tr>
    </table>

    <table class="followers">
        <tr>
            <th>Followers</th>
        </tr>
        <tr th:each="followedUser : ${followedUsers}">
            <td><a th:href="@{/blogUser(userName=${followedUser.name})}" th:text="${followedUser.name}"></a></td>
        </tr>
    </table>

    <table class="followers">
        <tr>
            <th>Followed Users</th>
        </tr>
        <tr th:each="follower : ${followers}">
            <td><a th:href="@{/blogUser(userName=${follower.name})}" th:text="${follower.name}"></a></td>  
        </tr>
    </table>
</body>
</html>