<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new Blog!</title>
</head>
<body>
    <nav>
        <a th:href="@{/}">Home</a>
        <a th:href="@{/blogUser(userName=${session.userName})}">Profile</a>
        <a th:href="@{/createBlogpost}">Create new Blogpost</a>
        <a th:href="@{/logout}">Logout</a>
    </nav>
    <form method="post" th:object="${blogPost}" th:action="@{/handleCreatePost}">
            Name
            <br>
            <input type="text" th:field="*{name}" />
            <br>
            <select th:field="*{category}">
                <option th:each="category : ${categories}" th:value="${category.categoryId}" th:text="${category.name}"></option>
            </select>
            <br>
            Content
            <br>
            <textarea th:field="*{content}" />
            <br>
            <input type="submit" value="Register" />
        </form>
</body>
</html>