<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head> 
<body>
    <nav>
        <a th:href="@{/}">Home</a>
        <a th:href="@{/blogUser(userName=${session.userName})}">Profile</a>
        <a th:href="@{/createBlogpost}">Create new Blogpost</a>
        <a th:href="@{/logout}">Logout</a>
    </nav>
    <h1 th:text="${'Welcome ' +blogUser.name+'!'}"></h1>

    <br>
    <tr th:each="post : ${posts}">
        <a th:text="${post.name}" th:href="@{/post(name=${post.blogUser.name}, id=${post.postId})}"></a>
        <br>
    </tr>
</body>
</html>