<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn Page</title>
</head>
<body>
    <a th:href="@{/register}">Register Account</a>
    <form method="post" th:action="@{handleLogin}" th:object="${blogUser}">
        Name
        <input type="text" th:field="*{name}" />
        <br>
        Password
        <input type="text" th:field="*{password}" />
        <input type="submit" value="Login">
        <a role="button" th:href="@{/home(name=${blogUser.name})}">Login</a>
    </form>
</body>
</html>