<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/blog.css}" />
    <title>LogIn Page</title>
</head>
<body>
    <nav>
        <ul>
            <li><a th:href="@{/register}">Register Account</a></li>
        </ul>
    </nav>
    
    <p th:if="${message}" th:text="${message}" class="error"></p>
    <form id="loginForm" method="post" th:action="@{handleLogin}" th:object="${blogUser}">
        <table>
            <tr>
                <td>
                    <label>Name</label>
                </td>
                <td>
                    <input type="text" th:field="*{name}" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Password</label>
                </td>
                <td>
                    <input type="text" th:field="*{password}" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>