<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/blog.css}" />
    <title>Post</title>
</head>
<body>
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/blogUser(userName=${session.userName})}" th:text="${session.userName + '´s Profile Page'}">Profile</a></li>
            <li><a th:href="@{/createBlogpost}">Create new Blogpost</a></li>
            <li><a th:href="@{/search}">Search Blogposts</a></li>
            <li><a th:href="@{/logout}">Logout</a></li>
        </ul>
    </nav>

    <div id="blogPost">
        <p id="blogDate" th:text="${post.creationDate}"></p>
        <h3 id="blogAuthor">Written by <a th:text="${post.blogUser.name}" th:href="@{/blogUser(userName=${post.blogUser.name})}"></a> </h3>
        <h1 id="blogTitle" th:text="${post.name}"></h1>
        <h2 id="blogCategory" th:text="'Category: ' + ${post.category.name}"></h2>
        <article id="blogContent" th:text="${post.content}"></article>
        <a id="blogUpdate" th:if="${post.blogUser.name == session.userName}" th:href="@{/updatePost(id=${post.postId})}">Update</a>
        <br>
        <a id="blogDelete" th:if="${post.blogUser.name == session.userName}" th:href="@{/deletePost(id=${post.postId})}">Delete</a>
    </div>
    
</body>
</html>