<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
</head>
<body>
    <cite th:text="${post.creationDate}"></cite>
    <h3>Written by <a th:text="${post.blogUser.name}" th:href="@{/blogUser(userName=${post.blogUser.name})}"></a> </h3>
    <h1 th:text="${post.name}"></h1>
    <article th:text="${post.content}"></article>
    <a th:if="${post.blogUser.name == session.userName}" th:href="@{/deletePost(id=${post.postId})}">Delete</a>
</body>
</html>