<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/blog.css}" />
    <title>Register User</title>
</head>
<body>
    <nav>
        <ul>
            <li><a th:href="@{/}">Login</a></li>
        </ul>
    </nav>

    <p th:if="${message}" th:text="${message}" class="error"></p>
    <form id="registerForm" method="post" th:object="${blogUser}" th:action="@{/handleRegister}">
        <table>
            <tr>
                <td>
                    <label>Name</label>
                </td>
                <td>
                    <a th:errors="*{name}" class="error"></a>
                    <br>
                    <input type="text" th:field="*{name}" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Password</label>
                </td>
                <td>
                    <a th:errors="*{password}" class="error"></a>
                    <br>
                    <input type="text" th:field="*{password}" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Register">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>