<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/blog.css}" />
    <title>Register User</title>
</head>
<body>
    <nav>
        <ul>
            <li><a th:href="@{/}">Login</a></li>
        </ul>
    </nav>

    <form id="registerForm" method="post" th:object="${blogUser}" th:action="@{/handleRegister}">
        <table>
            <tr>
                <td>
                    <label>Name</label>
                </td>
                <td>
                    <input type="text" th:field="*{name}" />
                    <a th:errors="*{name}"></a>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Password</label>
                </td>
                <td>
                    <input type="text" th:field="*{password}" />
                    <a th:errors="*{password}"></a>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Register">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>